@model ViewModels.Models.MenuMasterModel;
@{
    string strAddUpdate = (ViewBag.strAddUpdate == null ? "Add" : ViewBag.strAddUpdate);
}


<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Add/Update Menu for Role</h1>
        </div>
    </div>
    <div class="form-v5">
        <label for="Role">Role</label>
        <select asp-for="User_Roll" id="ddlRole" class="form-control" asp-items="ViewBag.Roles">
            <option>Select the Role</option>
        </select>
        <br />
        <div class="page-content">
            <div class="row">
                <div class="col-6">
                    <div class="form-v5-content">
                        <h5>@strAddUpdate Menu for Role </h5>
                        <div class="form-row">
                            <label for="MenuName">Menu Name</label>
                            <input asp-for="MenuName" type="text" class="form-control" placeholder="Menu Name" />
                        </div>
                        <br />
                        <div class="form-row">
                            <label for="Parent_MenuID">Parent MenuID</label>
                            <input asp-for="Parent_MenuID" type="text" class="form-control" placeholder="Parent Menu Name" />
                        </div>
                        <br />
                        <div class="form-row">
                            <label for="Parent_MenuID">Menu FileName</label>
                            <input asp-for="MenuFileName" type="text" class="form-control" placeholder="MenuFileName" />
                        </div>
                        <br />
                        <div class="form-row">
                            <label for="MenuURL">Menu URL</label>
                            <input asp-for="MenuURL" type="text" class="form-control" placeholder="MenuURL" />
                        </div>
                        <br />
                        <div class="form-row">
                            <label for="USE_YN">Active</label>
                            <input asp-for="USE_YN" name="rdoYes" type="radio" value="Yes" style="margin-left:10px;margin-top:-3px" /> <label for="rdoYes" style="padding-top:3">Yes</label>
                            <input asp-for="USE_YN" name="rdoNo" type="radio" value="No" style="margin-left: 10px; margin-top: -3px" /> <label for="rdoNo" style="padding-top: 3">No</label>
                        </div>
                        <br />
                        <div class="form-row-last">
                            <button type="submit" class="form-control btn-success" value="Submit">@strAddUpdate</button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <table class="table table-striped dt-responsive wrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    Sr.No
                                </th>
                                <th>
                                    Menu Name
                                </th>
                                <th>
                                    Parent Menu
                                </th>
                                <th>
                                    Menu File Name
                                </th>
                                <th>
                                    Menu Url
                                </th>
                                <th>
                                    Active
                                </th>
                                <th>
                                    Actions
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>


    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#ddlRole').change(function () {
            $.ajax({
                type: "GET",
                url: "/MenuMaster/GetMenuForRole?roleName=" + $('#ddlRole').val(),
                beforeSend: function (xhr) {
                    $('#cover-spin').show(0);
                },
                contentType: false,
                processData: false,
                success: function (response) {
                    $('#cover-spin').hide();
                    if (response.statusCode != 200)
                        alert('Some error occured while uploading');
                    else if (response.statusCode == 200) {
                        $('#btnExport').removeAttr('disabled');
                        Exceldata = response.result;
                        $('#divPrint').html(response.errorMessages[0]);
                    }
                    else {
                        $('#btnExport').removeAttr('disabled');
                        $('#divPrint').html(response.errorMessages[0]);
                    }
                },
                error: function (e) {
                    $('#divPrint').html(e.responseText);
                }
            });

        })
    })



</script>