@model ViewModels.Models.MenuMasterModel;
@{
    string strAddUpdate = (ViewBag.strAddUpdate == null ? "Add" : ViewBag.strAddUpdate);
}


<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Add/Update Menu for Role</h1>
        </div>
    </div>
    <div class="form-v5">
        <label for="Role">Role</label>
        <select asp-for="User_Roll" id="ddlRole" class="form-control" asp-items="ViewBag.Roles">
            <option>Select the Role</option>
        </select>
        <br />
        <div class="page-content">
            <div class="row">
                <div class="col-6">
                    <div class="form-v5-content">
                        <form class="form-detail" method="post">
                            <h5>@strAddUpdate Menu for Role </h5>

                            <div class="form-row">
                                <label for="MenuID">Menu Short Name (Menu Id)</label>
                                <input asp-for="MenuID" type="text" class="form-control" placeholder="Menu Id" />
                            </div>

                            <div class="form-row">
                                <label for="MenuName">Menu Name</label>
                                <input asp-for="MenuName" type="text" class="form-control" placeholder="Menu Name" />
                            </div>
                            <br />
                            <div class="form-row">
                                <label for="Parent_MenuID">Parent MenuID</label>
                                <input asp-for="Parent_MenuID" id=" " type="text" class="form-control" placeholder="Parent Menu Name" />
                            </div>
                            <br />

                            <div class="form-row">
                                <label for="User_Roll">User Roll</label>
                                <input asp-for="User_Roll" type="text" class="form-control" placeholder="User Role" />
                            </div>
                            <br />
                            <div class="form-row">
                                <label for="Parent_MenuID">Menu FileName</label>
                                <input asp-for="MenuFileName" type="text" class="form-control" placeholder="MenuFileName" />
                            </div>
                            <br />
                            <div class="form-row">
                                <label for="MenuURL">Menu URL</label>
                                <input asp-for="MenuURL" type="text" class="form-control" placeholder="MenuURL" />
                            </div>
                            <br />
                            <div class="form-row">
                                <label for="USE_YN">Active</label>
                                <input asp-for="USE_YN" type="radio" value="Yes" style="margin-left:10px;margin-top:-3px" /> <label for="rdoYes" style="padding-top:3">Yes</label>
                                <input asp-for="USE_YN" type="radio" value="No" style="margin-left: 10px; margin-top: -3px" /> <label for="rdoNo" style="padding-top: 3">No</label>
                            </div>
                            <br />
                            <div class="form-row-last">
                                <button type="submit" class="form-control btn-success" value="Submit">@strAddUpdate</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-6">
                    <div id="divPrint" class="container">
                        <h4>No Role Selected</h4>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#ddlRole').change(function () {
            var id = $('#ddlRole').val();
            $.ajax({
                type: "GET",
                url: "/MenuMaster/GetMenuForRole?roleName=" + $('#ddlRole').val(),
                beforeSend: function (xhr) {
                    $('#cover-spin').show(0);
                },
                contentType: false,
                processData: false,
                success: function (response) {
                    $('#cover-spin').hide();
                    if (response.statusCode != 200 && response.statusCode != 404)
                        alert('Some error occured while uploading');
                    else if (response.statusCode == 404) {
                        $('#User_Roll').val(id);
                        $('#divPrint').html('<h4>No Menu assign yet to this Role</h4>');
                    }
                    else if (response.statusCode == 200) {
                        $.ajax({
                            url: "/MenuMaster/MenuList?menuMasterModels=" + JSON.stringify(response.result),
                            success: function (result) {
                                $('#divPrint').html(result);
                            }
                        });
                    }
                    else {
                        $('#btnExport').removeAttr('disabled');
                        $('#divPrint').html(response.errorMessages[0]);
                    }
                },
                error: function (e) {
                    $('#divPrint').html(e.responseText);
                }
            });

        })
    })



</script>